<div class="container-fluid">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="row d-flex justify-content-center align-items-center">
      <img src="assets/imgs/star-wars-2.svg" class="d-inline-block align-text-top img" alt="Logo">
    </div>
    <div class="d-flex">
      @if (currentUser) {
        <span class="nav-link">WELCOME, {{ currentUser.toUpperCase() }}</span>
        <button class="btn btn-link nav-link" (click)="logout()">LOGOUT</button>
      } @else {
        <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
        <p class="text-dark mt-2">//</p>
        <a class="nav-link" [routerLink]="['/register']">REGISTER</a>
      }
    </div>
  </nav>
  <div class="d-flex align-items-center justify-content-center custom-div">
    @for(section of sections; track section) {
      @if (section === 'HOME') {
        <li class="nav-link link-a" [routerLink]="['/home']" [class.active]="section === activeSection" (click)="setActiveSection('HOME')">{{ section }}</li>
      }
      @if (section === 'STARSHIPS') {
        <li class="nav-link link-b" [routerLink]="['/starships']" [class.active]="section === activeSection" (click)="setActiveSection('STARSHIPS')">{{ section }}</li>
      }
    }
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
