$text-color: rgb(168, 168, 168);
$border-color: rgb(128, 128, 128);
$hoover-color: rgb(9, 167, 195);

.img {
  width: 40%;
  height: 50%;
  margin-left: 200px;
}
.back-nav {
 background-color: black;
}
.custom-navbar {
  border-bottom: 1px solid $border-color;
}
.navbar {
  border-bottom: 1px solid $border-color;
}

.nav-link {
  color: $text-color;
  border-bottom: 3px solid transparent;

  &:hover {
    color: white;
    border-bottom: 3px solid $hoover-color;
  }
  &.active {
    color: white;
    border-bottom: 3px solid $hoover-color;
  }
}

.links-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-a {
  border-left: 1px solid $border-color;
}

.link-b {
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.custom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $text-color;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
  .img {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
}
