

<!--@if(starshipDetail$ | async; as starshipResult){
  <ul class="">
    @for(let item of starshipResult.results){
    <p>lkasfgb</p>
    <li class="text-uppercase fw-bold ps-3 mt-2">{{starshipResult.name}}</li>
    <li class="ps-3 text-white">{{starshipResult.model}}</li>
    <li class="ps-3">{{starshipResult.manufacturer}}</li>
    <li class="ps-3">{{starshipResult.cost_in_credits}}</li>
    <li class="ps-3">{{starshipResult.length}}</li>
    <li class="ps-3">{{starshipResult.max_atmosphering_speed}}</li>
    <li class="ps-3">{{starshipResult.crew}}</li>
    <li class="ps-3">{{starshipResult.passengers}}</li>
    <li class="ps-3">{{starshipResult.cargo_capacity}}</li>
    <li class="ps-3">{{starshipResult.consumables}}</li>
    <li class="ps-3">{{starshipResult.hyperdrive_rating}}</li>
    <li class="ps-3">{{starshipResult.MGLT}}</li>
    <li class="ps-3">{{starshipResult.starship_class}}</li>
    <li class="ps-3">{{starshipResult.created}}</li>
    <li class="ps-3">{{starshipResult.edited}}</li>
    <li class="ps-3">{{starshipResult.url}}</li>
  }
  </ul>
}-->


