<div class="container-fluid">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="row d-flex justify-content-center align-items-center">
      <img src="assets/imgs/star-wars-2.svg" class="d-inline-block align-text-top img" alt="Logo">
    </div>
    <div class="d-flex">
      <a class="nav-link" href="#">LOGIN</a>
      <p class="text-dark mt-2">//</p>
      <a class="nav-link" href="#">SIGNUP</a>
    </div>
  </nav>
  <div class="d-flex align-items-center justify-content-center custom-div">
    <a class="nav-link link-a" href="#">HOME</a>
    <a class="nav-link link-b" [routerLink]="['/starships']">STARSHIPS</a>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>





