.starship-list {
  justify-content: center;
  margin-top: 20px;
}

.starship-list-item{
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin:20px;
  border-radius: 2px;
  width: 900px;
}

.starship-list-item:hover{
  background-color: rgb(50, 50, 50);
}

.btn-load{
  border: 1px solid rgb(128, 128, 128);
  color: rgb(168, 168, 168);
  border-radius: 0px;
}
.btn-load:hover{
  border-bottom: 3px solid rgb(9, 167, 195);
  color: white;
}

.custom-link{
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 992px){
  .starship-list-item{
    width: 700px;
  }
}

@media screen and (max-width: 768px){
  .starship-list-item{
    width: 450px;
  }
}

@media screen and (max-width: 576px){
  .starship-list-item{
    width: 350px;
  }
}
